<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Épicas e historias de usuario</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VCrearHistoria1(idPila)"
       ng-show="actor=='duenoProducto' || false">
  Crear</a></li>
<li><a ng-click="VPrioridades3(idPila)"
       ng-show="actor=='duenoProducto' || false">
  Cambiar prioridades</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VProducto2(idPila)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>
<li><a ng-click="VLogin4()">
    Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

        <table ng-table="tableParams0" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Prioridad'">{{row['prioridad']}}</td>
                <td data-title="'Enunciado'">{{row['enunciado']}}</td>
                <td data-title="'Peso'">{{row['peso']}}</td>
                <td><a ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false" ng-click="VHistoria0(row['idHistoria'])">Detalles</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div>